

.future {
  display: flex;
  margin-top: 150px;
  padding-left: 10vw;
  padding-right: 5vw;
}

.text_button {
  width: 50%;
}

.future_image img {
 
  margin-top: 0%;
  margin-right: 10%;
}

.future_one {
  background-color: #3eb0f7;
  color: white;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid black;
}

.future_two {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid black;
  margin-left: 10px;
}

.freedom_text {
  text-align: center;
  margin-top: 200px;
  padding-left: 20vw;
  padding-right:20vw ;
}

.api {
  text-align: center;
}

.api p {
  color: #c8c8c8;
}

.graph_ql {
  text-align: center;
  margin-left: 10px;
  margin-right: 20px;
}

.graph_ql p {
  color: #c8c8c8;
}

.supercharge {
  text-align: center;
}

.supercharge p {
  color: #c8c8c8;
}

.freedom {
  display: flex;
  /* margin: 20px; */
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 150px;
}

.showcase {
  display: flex;
  margin-top: 150px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.showcase_one {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid black;
}

.showcase_two {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid white;
  margin-left: 10px;
 
}
.showcase_buttons {
  text-align: center;
  margin-top: 30px;
}

.slack_bot {
  display: flex;
  margin-top: 150px;
  padding-left: 7vw;
  padding-right: 10vw;
}

.text_button_showcase p {
  color: #c8c8c8;
}

.slack_bot_buttons {
  text-align: center;
  margin-top: 30px;
}

.slack_bot_one {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 50px;
  border: 2px solid black;
}

.slack_bot_two {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid white;
  margin-left: 10px;
}

.text_button_slack_bot p {
  color: #c8c8c8;
}

@media only screen and (max-width:1040px){

	.future{
		display: block;
	}
	.future_image{
		margin-top: 100px;
	}

	.freedom_text{
		text-align: center;
		padding-left: 5vw;
		padding-right: 5vw;
		margin-top: 100px;
	}

	.text_button_future{
		display: block;
	}

	.media_image{
		max-width: 100%;
	}

	.freedom{
		display: flex;
		justify-content: center;
		display: block;
	}

	

	.freedom_image{
		margin-top: 100px;
	}


	.showcase{
		display: block;
	}
	.showcase_image{
		margin-top: 100px;
	}

	.showcase_buttons{
		justify-content: center;


	}

	.showcase_one ,.showcase_two{
		margin-left: 10px;
		margin-right: 10px;

	}

	.showcase_two{
		margin-top: 20px;
	}


	.slack_bot{
		display: block;
		margin-top: 100px;
	}

	.slack_bot_one, .slack_bot_two{
		margin-left: 10px;
		margin-right: 10px;

	}

	.slack_bot_two{
		margin-top: 20px;
	}
}
